.Content{    
    margin: 30px;
    margin-top: 40px;

    .Title{
        height: 48px;
        padding: 2px;
        background-color: #2B3944;
    }

    .Title-Text{
        background-color: #2B3944;
        display: flex;
        justify-content: center;
        margin: 0;
        color: #E3AA29;
    }

    .btn-secondary, .btn-secondary:active{
        width: 48px;
        height: 48px !important;
        color: black !important;
        font-size: 22px;
    }

    .Filter-btn{
        margin-right: 5px;
    }

    .Header {
        padding: 0;
        margin-bottom: 30px;
    }

    .ToDoComponent, .ToDoComponentDetails, .ToDoComponentDetail, .ToDoCheckbox{
        background-color: #2B3944 !important;
    }

    .ToDoComponentDetails{
        padding-right: 0;
    }

    .ToDoComponent{
        margin-bottom: 20px;
        border: 1px solid black;
        padding: 0;
    }

    .ToDoBeschreibung, .ToDoDatum{
        color: white;
    }

    .ToDoBeschreibung{
        margin-bottom: 5px;
    }

    .ToDoDatum{
        margin-bottom: 10px;
    }

    .ToDoTitel{
        color: #E3AA29;
        margin-bottom: 0;
    }

    .ToDoCheckbox{
        width: 40px;
    }

    input[type="checkbox"] {
        margin-top: 9px !important;
        appearance: none;
        margin: 0;
        width: 20px;
        height: 20px;
        border: 1px solid black;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }

    .form-control + .form-control {
        margin-top: 1em;
    }

    input[type="checkbox"]::before {
        content: "";
        width: 15px;
        height: 15px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-color: #E3AA29;
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }

    .TodoIcon{
        color: white;
        font-size: 25px;
        width: 30px;
        background-color: #2B3944;
        margin-top: 32px;
        padding: 0;
    }

    i{
        background: none;
    }

    .ListDatum{
        color: #E3AA29;
        font-size: 20px;
        font-weight: 600;
    }

    .ListDatumText{
        margin-bottom: 5px;
    }

    .btn-edit{
        background: none;
        border: none;
        color: white;
        outline: none;
    }
}

input[type="text"], input[type="datetime-local"], select, option {
    color: black !important;
}

body {
    background-color: #374A59;
    width: 100%;
}

#NavBar {
    z-index: 100;
    position: fixed;
    height: 100vh;
    background-color: #2b3944;
    color: #fff;
    width: 250px;
    margin: 0;
    padding-top: 15px;
}

.mainButtons {
    font-size: 2rem;
    width: 200px;
    background-color: #4e5768;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 0.1px;
    margin-left: auto;
    margin-right: auto;
}

.categoryButtons {
    font-size: 1.5rem;
    text-align: center;
    width: 200px;
    background-color: #4e5768;
    color: #fff;
    /*padding-top: 1.5px;
    padding-bottom: 1.5px;*/
    margin-left: auto;
    margin-right: auto;
}

.logoStyle {
    bottom: 0;
    background-color: #2b3944;
    color: #fff;
    width: 250px;
    height: 50px;
    margin: 0;
    margin-top: 0;
    position: absolute;
}

#logo {
    background-color: #2b3944;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.Content{
    width: calc(100vw - 345px);
    margin-left: 250px;
}

#Content{
    margin: 0;
}

.modal-content{
    background-color: #6c757d;

    .form-control{
        background-color: #6c757d;
        border: 1px solid black;
    }
}

.modal-header, .modal-body, .modal-footer{
    border: none;
    
    .btn.btn-primary{
        width: 100% !important;
        background-color: #2b3944;
        color: #E3AA29;
        border: none;
    }
    span{
        text-shadow: none;
    }
}

.mainButtons:hover, .categoryButtons:hover{
    cursor: pointer;
}

.modal-search, .modal-dialog-search{
    width: 1000px;
    max-width: 1000px;
}

.modal-dialog-search{
    *::-webkit-scrollbar-track {
        background: #6c757d !important;
    }
}

*::-webkit-scrollbar {
    width: 16px;
    }
    
    *::-webkit-scrollbar-track {
    background: #374A59;
    }
    
    *::-webkit-scrollbar-thumb {
    background-color: #2b3944;
    border-radius: 10px;
    border: none;
    }

/*
Custom Breakpoints beacuse our css is trash and we didnt use enough bootstrap
*/
@media (min-width: 1200px) {
    .modal-dialog-search{
        margin-left: 125px;
    }
    #showNavBar {
        display: none;
    }
}

@media (max-width: 1200px) {
    .modal-dialog-search{
        width: 98vw;
    }
    #NavBar {
        display: none;
    }

    .Content{
        z-index: 1;
        margin-left: 0 !important;
        width: 98vw !important;
    }

    .ToDoComponent{
        width: 98vw;
    }
}

@media (max-width: 920px) {
    .ToDoComponentDetails{
        padding: 0;
        width:89vw !important;
    }
    .ToDoComponent{
        width: 97vw;
    }
}

@media (max-width: 870px) {
    .ToDoComponentDetails{
        width:86vw !important;
    }
}

@media (max-width: 720px) {
    .ToDoComponentDetails{
        width: 85vw !important;
    }
}

@media (max-width: 600px) {
    .ToDoComponentDetails{
        width: 83vw !important;
    }
}

@media (max-width: 550px) {
    .ToDoComponentDetails{
        width: 80vw !important;
    }
    .ToDoComponent{
        width: 96vw !important;
    }
}

@media (max-width: 480px) {
    .ToDoComponentDetails{
        width: 78vw !important;
    }
}

@media (max-width: 480px) {
    .ToDoComponentDetails{
        width: 78vw !important;
    }
}

@media (max-width: 400px) {
    .ToDoComponentDetails{
        width: 74vw !important;
    }
}