body {
    background-color: #374A59;
    width: 100%;
}

#container {
    height: 100%;

    background-color: #2b3944;
    color: #fff;
    width: 250px;
    /*height: 370px;*/
    margin: 0;
    padding-top: 15px;
}

/*.mainStyle{
    background-color: #2b3944;
    color: #fff;
    width: 250px;
    height: 370px
    margin: 0;
    padding-top: 15px;
}*/

.mainButtons {
    font-size: 2rem;
    width: 200px;
    background-color: #4e5768;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 0.1px;
    margin-left: auto;
    margin-right: auto;
}

.categoryButtons {
    font-size: 1.5rem;
    text-align: center;
    width: 200px;
    background-color: #4e5768;
    color: #fff;
    /*padding-top: 1.5px;
    padding-bottom: 1.5px;*/
    margin-left: auto;
    margin-right: auto;
}

.logoStyle {
    background-color: #2b3944;
    color: #fff;
    width: 250px;
    height: 50px;
    margin: 0;
    margin-top: 0;
    padding-top: 249px;
    position: absolute;
}

#logo {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    /*position: absolute;*/
}